.invisible {
  display: none;
}

body {
  background-image: url(cat-dog-friends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

#slogan {
  margin-top: 45%;
  font-family: 'Montserrat';
  color: #1a6bb2;
}

select {
  text-align: center;
  width: 20%;
  margin-left: 4%;
}

#find-pet-button {
  margin-left: 10%;
}

.well {
  position: absolute;
  top: 50%;
  width: 900px;
  border-style: none;
  background: rgba(94, 96, 109, 0.3);
  transform: translateY(-50%);
  font-family: 'Montserrat';
}

#panel-container {
  margin-top: 5%;
  width: 50%;
}

.panel-body {
  position: relative;
  background-color: #b0dbf2;
}

.pet-name {
  font-weight: 200;
}

.pet-picture {
  width: 20%;
}

.pet-details {
  position: absolute;
  left: 25%;
  top: 25%;
  font-size: 15px;
  color: #1a6bb2;
}
