.invisible {
  display: none;
}

body {
  background-image: url(cat-dog-friends.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#search-well {
  border-style: none;
  background: rgba(94, 96, 109, 0.3);
  margin-top: 35%;
  white-space: nowrap;
}

.dropdown-toggle {
  width: 15%;
  text-align: left;
}

#panel-container {
  margin-top: 5%;
  width: 50%;
}

.panel-body {
  position: relative;
  background-color: #b0dbf2;
}

#pet-name {
  font-weight: 200;
}

#pet-picture {
  width: 20%;
}

#pet-details {
  position: absolute;
  left: 25%;
  top: 25%;
  font-size: 15px;
  color: #1a6bb2;
}
